version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/docker"
    schedule:
      interval: "daily"
    versioning-strategy: lockfile-only
    # only security notifications
    open-pull-requests-limit: 0
  - package-ecosystem: "docker"
    directory: "/docker"
    schedule:
      interval: "daily"
    # only security notifications
    open-pull-requests-limit: 0
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
